<!-- <div class="line">
    <div class="line1">
        <div class="line2">
        
            <div class="line3">
                <div class="line4">
        

                </div>

            </div>
        </div>

    </div>
</div> -->

<!-- width="1804.553" height="1093.568" -->
<div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 1804.553 1093.568">
        <path id="Path_3" data-name="Path 3" d="M1512,1442.479h67.207v945.131H-215.346v138.437h51.273" transform="translate(220.346 -1437.479)" fill="none" stroke="#3a4750" stroke-width="10"/>
      </svg>
      
</div>

