<div class="skill">
    <h1>SKILLS</h1>
    <div class="skill_shape">
        <app-skill-bar skill_name="C" skill_pecent="180px"></app-skill-bar>
        <app-skill-bar skill_name="C++" skill_pecent="200px"></app-skill-bar>
        <app-skill-bar skill_name="C#" skill_pecent="250px"></app-skill-bar>
        <app-skill-bar skill_name="asp.net mvc" skill_pecent="200px"></app-skill-bar>
        <app-skill-bar skill_name="java" skill_pecent="200px"></app-skill-bar>
        <app-skill-bar skill_name="Unity" skill_pecent="250px"></app-skill-bar>
        <app-skill-bar skill_name="Python" skill_pecent="210px"></app-skill-bar>
        <app-skill-bar skill_name="HTMl/CSS/javascript" skill_pecent="200px"></app-skill-bar>

    </div>
    <div>
        <img  src="./assets/allcut.png">
        </div>
</div>
