<div class="row">
    <div class="column" >
      
    <h1 >Welcome to my portfolio</h1>
    
    <h2>EDUCATION</h2>
    <p>
     I am Reza Rezaei Graduated in Computer Engineering at <a href="https://eng.basu.ac.ir/en/main">“BuAli Sina University” </a>and a master student in Computer architecture at the <a href="http://fce.ui.ac.ir/">“University of Isfahan” </a>.
    </p>
    <h2>experience</h2>
    <div class="textt">
    <p>
        I have much experience in developing diverse systems using various programming languages. Android software development of university regulations online<span class="lang">(MySQL, PHP, Java)</span> , and working on a smart home with web page control panel and Telegram bot <span class="lang">(ASP.NET, python, Arduino)</span>.
      <br>  The experience of working with <a href="http://gfuse.it/">"gfuse"</a> company to develop an urban model and get visual outputs, as well as connecting ROS to Unity for robot movement simulation.
      <br>  The interest in game development led to the implementation of various projects in game making, unfortunately, a large number of them did not reach the final stage and release.
      <br>  My thesis during master was research in the field of digital twin. The implementation of the <a href="https://www.mitsubishielectric.com/fa/products/rbt/robot/" class="robo_t"> Melfa's robotic arm digital twin </a> <span class="lang">(Unity, C#, JS, MQTT, PYTHON, QT) </span>is my thesis that work and done at University of Isfahan.
        
    </p>
  </div>
    </div>
    <div class="column" >
      <div class="image_"> 
<app-about-pic-shape></app-about-pic-shape>
</div>
    </div>
  </div>
  <app-arrow1-shape></app-arrow1-shape>