<header class="header__navbar">
    <div class="navbar">
      
      <ul class="navbar__links">
        
        <li><a href="#contact">contact me</a></li>
        <li><a href="#works">Works i've done</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#about">About me</a></li>
        <li><a href="#HOME">HOME</a></li>
        <div class="rezdev_logo">Rezdev
          <div class="dp"> 
            <div class="dropdown">
                <p ><a href="#HOME">HOME</a></p>
                <p ><a href="#about">About me</a></p>
                <p ><a href="#skills">Skills</a></p>
                <p ><a href="#works">Works i've done</a></p>
                <p ><a href="#contact">contact me</a></p>
            </div>
          </div>
        </div>
       
      </ul>

      </div>
  </header> 