
<header class="header_ ">
    <img src='/assets/u_l.png' class="unity_logo" >
    <!-- <div class="unity_logo"></div> -->
            <h3 class="top-h3"> I'm</h3>
            <div class="tthero">
              <div class="row">
                  <div class="column bigger"  >
                      &#60;
                  </div>
                  <div class="column hero_text" >
                      
                  </div>
                  <div class="column bigger" >
                      /&#62;
                  </div>
                </div>
            </div>
           
              <div class="row">
                  <div class="column sshape"   >
                      <app-coding-shape-header></app-coding-shape-header>
                  </div>
                  <div class="column ttext" >
                      <h3 > I Love Coding</h3>
                  </div>
             
                </div>
       



</header>