<div id="works"></div>

<div class="cv">
  <h1>works i've done</h1>
  <div class="cards">
    <app-card-view
      img_url="./assets/itm.jpg"
      text="Into The Moon"
      dllink="https://cafebazaar.ir/app/com.RezDev.ToTheMoon"
      dltext="Download"
    ></app-card-view>
    <app-card-view
      img_url="./assets/Digital twin.png"
      text="Melfa's Digital Twin"
      dllink="http://cpslab.ui.ac.ir/digitaltwin/"
      dltext="Website"
    ></app-card-view>
    <app-card-view
      img_url="./assets/u_l.png"
      text="Unity CV Video"
      dllink="https://www.youtube.com/watch?v=NriUr_eGpjc"
      dltext="Watch"
    ></app-card-view>
    <app-card-view
      img_url="./assets/app_icon.png"
      text="USB Flash Blocker"
      dllink="https://www.aparat.com/v/cqLez"
      dltext="Watch"
    ></app-card-view>
  </div>
</div>
