<div class="cv">
    <h1>works i've done</h1>
    <div class="cards">
        <app-card-view img_url="./assets/itm.jpg" text="Into The Moon" dllink="https://cafebazaar.ir/app/com.RezDev.ToTheMoon" dltext="Download"></app-card-view>
        <app-card-view img_url="./assets/Digital twin.png" text="Melfa Digital Twin" dllink="http://dtlab.rezdev.ir/" dltext="DTLAB"></app-card-view>
        <app-card-view img_url="./assets/u_l.png" text="Unity CV Video" dllink="https://www.youtube.com/watch?v=NriUr_eGpjc" dltext="Watch"></app-card-view>
    </div>

</div>

