$color_gold: #f6c90e;
$color_h3: #3a4750;
$color_s: rgb(82, 43, 173);
$color_white: #eeeeee;

.matrix {
  // z-index: 20;
  //  position: fixed;
  // display: block;
  margin-left: 25.5%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: 50%;
  // left: 50%;
  // right: 50%;
  // margin-left: 22.5%;
  // margin-right: 22.5%;
  //left: 50%;
  // top: 50%;
  //   transform: translate(20%, 50%);
}

.matrix-container {
  max-width: 100vw;

  /* margin-left: 22%; */
}
span {
  color: $color_h3;
}
.matrix-wrapper {
  text-align: justify;
  width: 82ch;
  font-family: courier;
  font-size: 15px;

  text-shadow: 1px 1px $color_h3;
}
// .line {
//   background: #6b3030;
// }
.line:after {
  display: inline-block;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .matrix-wrapper {
    width: 45ch;
  }
}
@media only screen and (max-width: 500px) {
  .matrix {
    margin-left: 1%;
  }
}
// .span:hover {
//   color: #f6c90e;
//   // &::after {
//   //   content: "R";
//   // }
// }

/* 
  .matrix {
      margin-left: 30%;
      margin-right: 30%;
    }
  p {
    text-align: justify;
    text-justify: inter-word;
  }
  .mask-container {
  
    display: grid;
    grid-template-columns: 55% 20%;
  }
  .white-grid {
    background-color: #ffffff;
    z-index: 1;
  
  }
  p:hover {
    background-color: yellow;
  } */
