$color_gold:#F6C90E;
$color_h3:#3A4750;
$color_white:#EEEEEE;
$background-color: #222831;
// .contactme{
//     // margin-bottom: 50px;
 
// }
h2{
    text-align: center;
    color:$color_h3 ;
    margin-bottom: -35px;
    // font-family: 'AdobeCleanRegular';
    font-family: 'Cocogoose Semilight';
    text-transform: uppercase;
}
h1{
    text-align: center;
    margin-bottom: -13px;
    color: $color_gold;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 2.5em;
    font-family: 'Cocogoose';
    // font-family: 'Cocogoose Semilight';
    text-transform: uppercase;
}
.line{
    width: 300px;;
    padding: 1em;
    padding-right:2.4em ;

    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border: #F6C90E solid;
    border-bottom-style: none;
}
form{
 
    width: 230px;
    // background-color: #F6C90E;
    // float: center;
    margin-left: auto;
    margin-right: auto;
}
input{
color: #EEEEEE;
background-color: $background-color;
border-top: 0px;
border-left: 0px;
border-right: 0px;
margin-top: 20px;
margin-bottom: 20px;
border-color: $color_white;
border-bottom-width: 4px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
font-family: 'AdobeCleanRegular';

font-size: 1.5em;

}
input:focus{     outline: none;}

::placeholder {
    color:$color_h3 ;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:$color_h3 ;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:$color_h3 ;
  }

  .button{
    background-color: $color_h3;
    width: 100px;
    height: 30px;
    padding: 0.4rem;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 30%;
    margin-bottom: 50px;
    margin-right: auto;
}
.button:hover{
    background-color: #1d2429;
    box-shadow:1px 2px 3px 1px #888888;
    border-radius: 10px;
        p{
            // margin-left: 3px;
          margin-top: 3px; 
          font-size: 0.9em;
        //   margin-left: 3px;
      }
    
}

.btn_t{
    font-family: 'Cocogoose Semilight';
    // width: 0px;
    height: 30px;
 

    // margin-bottom: 12123px;
    margin-top: -3px;
    // text-align: center;
    color: $color_white;
    // padding: 1.2rem;
    // padding-left: 23px;
    // padding-bottom: -10px;
    // font-size: 0.8em;
    // padding-top: -20px;
    text-decoration: none;
    // margin-top:-26px;
    
}