<div class="coding_shape">
    <div class="start_c_line">
    <div class="l_v_1">
        <div class="l_h_1">
            <div class="l_h_2">
                <div class="l_h_3">
                    <div class="l_h_4">
                    </div>
                </div>
            </div>
        </div>
        <!-- 2 -->
        <div class="l2_h_1">
            <div class="l2_h_2">
                <div class="l2_h_3">
                    <div class="l2_h_4">
                    </div>
                </div>
            </div>
        </div>
                               <!-- 4 -->
                               <div class="l4_h_1">
                                <div class="l4_h_2">
                                    <div class="l4_h_3">
                                        <div class="l4_h_4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                <!-- 3 -->
                <div class="l3_h_1">
                    <div class="l3_h_2">
                        <div class="l3_h_3">
                            <div class="l3_h_4">
                            </div>
                        </div>
                    </div>
                </div>
                                <!-- 5 -->
                                <div class="l5_h_1">
                                    <div class="l5_h_2">
                                        <div class="l5_h_3">
                                            <div class="l5_h_4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                       <!-- 5 -->
                       <div class="l5_h_1">
                        <div class="l5_h_2">
                            <div class="l6_h_3">
                                <div class="l6_h_4">
                                </div>
                            </div>
                        </div>
                    </div>
                           <!-- 7 -->
        <div class="l2_h_1">
            <div class="l2_h_2">
                <div class="l2_h_3">
                    <div class="l2_h_4">
                    </div>
                </div>
            </div>
        </div>
                                   <!-- 8 -->
                                   <div class="l4_h_1">
                                    <div class="l4_h_2">
                                        <div class="l4_h_3">
                                            <div class="l4_h_4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 9 -->
                                <div class="l9_h_1">
    </div>
</div>
</div>